@{
	ViewData["Title"] = "Home Page";
}


<div class="card w-100 mb-4">
	<div class="card-body" style=" background-color: gray">
		<div class="text-center">

			<h1 class="display-4">Bievenido a BookMS</h1>
			<p>¿Que desea hacer?</p>
			<button type="button" class="btn btn-primary">Ver inventario de libros</button>
			<button type="button" class="btn btn-secondary">Ver Listado de Tiendas</button>

		</div>
	</div>
</div>

