@model IEnumerable<libreria.Models.dbModels.City>

@{
    ViewData["Title"] = "Index";
}

<h1>Ciudades</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                Ciudad
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.City1)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-secondary">Editar</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-secondary">Borrar</a>
            </td>
        </tr>
}
    </tbody>
</table>
<p>
	<a asp-action="Create" class="btn btn-secondary">Agregar Ciudad</a>
</p>