@model IEnumerable<libreria.Models.dbModels.Inventory>

@{
    ViewData["Title"] = "Index";
}

<h1>Inventario</h1>


<table class="table">
    <thead>
        <tr>
            <th>
       Cantidad
            </th>
            <th>
              Libros
            </th>
            <th>
              Tiendas
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Book.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Store.Name)
            </td>
        </tr>
}
    </tbody>
</table>
<p>
	<a asp-action="Create" class="btn btn-secondary">Agregar</a>
</p>